/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body{
  font-size: 16px;
  font-family: 'droid_serifregular', serif;
}
img{
  max-width: 100%;
}
.hidden{
  display: none;
}
.point{
  cursor: pointer;
}
.center{
  text-align: center;
}
.justify{
  text-align: justify;
}
header, main, footer{
  max-width: 900px;
  margin: 0 auto;
}
.block {
  display: block;
}
.inblock, .chk:before {
  display: inline-block;
}
.dashed-border{
  border: 13px solid #eeeeee;
  -moz-border-image: url(imgs/break.png) 13 0 0 repeat;
  -webkit-border-image: url(imgs/break.png) 13 0 0 repeat;
  -o-border-image: url(imgs/break.png) 13 0 0 repeat;
  border-image: url(imgs/break.png) 13 0 0 fill repeat;
}
.size-10 {
  font-size: 10px; }

.size-12 {
  font-size: 12px; }

.size-14 {
  font-size: 14px; }

.size-16 {
  font-size: 16px; }

.size-18 {
  font-size: 18px; }

.size-20 {
  font-size: 20px; }

.size-24 {
  font-size: 24px; }

.size-32 {
  font-size: 32px; }

.size-36 {
  font-size: 36px; }

.size-40 {
  font-size: 40px; }

.size-48 {
  font-size: 48px; }
