.tool{
  text-align: center;
}
.ui-tooltip{
  display: block;
  border: 2px solid #000;
  margin-bottom: 200px;
  z-index: 100;
  border-radius: 0px;
}
/* EMAIL SIGN-UP MODULE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.emailsignup{
  position: fixed;
  width: 100%;
  max-width: 900px;
  height:400px;
  margin: 2.5% auto;
  left: 0;
  right: 0;
  color:#000;
  background-color: #fff;
  border: 2px solid #000;
  z-index: 100;
  padding: 10px 10px 160px 0px;
  opacity: 0.985;
}
.emailsignup h1{
  margin-top: 80px;
  text-align: center;
  line-height: 2em;
}
.emailsignup #close{
  float: right;
  font-family: sans-serif;
  cursor: pointer;
}
.emailsignup #close:hover{
  opacity: 0.4;
}
.emailsignup h2{
  text-align: center;
  margin-bottom: 80px;
  line-height: 2em;
  color: #ddd;
}
.emailsignup h3{
  text-align: center;
  color:rgba(0,0,0,0.8);
  }
.emailsignup h3 input{
  font-size: 2em;
  text-align: center;
  height: 54px;
  color: #000;
}
.email{
  height:40px;
}
#submit{
  background-color: #000;
  color: #fff;
  border: none;
  box-shadow: none;
  width: 180px;
  margin-top: 40px;
  font-size: 1.5em;
  padding: 6px 0 0 0;
  font-family: sans-serif;
  font-weight: 200;
}
#submit:hover{
  opacity: 0.8;
}
@media (max-width: 550px) {
  .emailsignup{
    padding:10px 10px 10px 10px;
    height: 500px;
    max-width: 90%;
  }
  .emailsignup h1{
    font-size: 1.5em;
    line-height: 1.75em;
    margin: 80px auto 0;
    max-width: 84%;
  }
  .emailsignup h2{
    line-height: 1em;
  }
  .emailsignup h3 input{
  font-size: .85em;
  text-align: center;
  height: 34px;
  }
}
@media (max-width: 1000px) {
  #socBox{
    display: none;
  }
}

/*  Header MODULE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pageHeader {
  border: 13px solid;
  border-width: 0px 0px 13px;
  -moz-border-image: url(imgs/break.png) 0 0 13 repeat;
  -webkit-border-image: url(imgs/break.png) 0 0 13 repeat;
  -o-border-image: url(imgs/break.png) 0 0 13 repeat;
  border-image: url(imgs/break.png) 0 0 13 fill repeat;
  padding-bottom: 30px; }
  .pageHeader .logoarea{
    width: 230px;
    margin: 0px auto 30px;
    float: none;}
    .pageHeader .logoarea .headlogo {
      background: url("imgs/mastersprite.png") 0px 45px;
      height: 45px;
      width: 42px;
      margin: 14px 4px 0 0; }
    .pageHeader .logoarea h1 {
      margin: 16px -5px 3px 0; }
    .pageHeader .logoarea h2 {
      margin: -15px 0 0 52px; }

/* Navigation / Social Links MODULE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.soclist {
  width: 230px;
  margin: 0px auto;
  float: none; }
  .soclist .soc_fb, .soclist .soc_tw, .soclist .soc_gg, .soclist .soc_in,
  .soclist .soc_fl, .soclist .soc_pi, .soclist .soc_rs, .soclist .soc_em {
    padding: 8px 7px 5px;
    text-decoration: none; }

/* SHARE POP-OUT MODULE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#socBox{
  position: fixed;
  top: 200px;
  left:-270px;
  width: 300px;
  height: 30px;
  background-color: #000;
  color:#fff;
  z-index: 100;
  cursor: pointer;
}
#socBox a{
  color: #fff;
  text-decoration: none;
  padding: 6px 5px 5px 5px;
}
#socBox a:hover{
  opacity: 0.5;
}
#socBox a:last-of-type{
  margin-right: 36px;
}

/* Main Body MODULE WITH AUTHOR NOTES AND INGREDIENTS LIST
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ARTICLE
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.print{
  margin: -18px 6px 20px 0;}

.mainarticle {
  margin: 10px auto; }
  .mainarticle h1 {
    margin: 10px 0 0 2px; }
  .mainarticle h2 {
    margin: -3px 0 0px 4px; }
  .mainarticle .bodyp p {
    margin: 20px auto;
    text-indent: 30px;
    line-height: 1.75em;
    max-width: 86%; }
  .mainarticle .bodyp p:nth-of-type(1) {
    margin-top: 40px; }
  .mainarticle .bodyp p:nth-of-type(3) {
    margin-bottom: 40px; }

/* INGREDIENTS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.ingredback {
  background: url("imgs/list-bg.png") no-repeat;
  height: 350px;
  max-width: 100%;
  border-top: 1px solid #EBEBDB;
  position: relative; }
  .ingredback:after {
    content: "";
    background: #EBEBDB;
    position: absolute;
    right: 0;
    top: 0;
    height: 83.25%;
    width: 1px; }
  .ingredback .listleft {
    margin: 14px 0 0 50px; }
  .ingredback .listright {
    margin: 0px 0 0 50px; }
  .ingredback .chk {
    margin-right: 10px; }
  .ingredback .chk:nth-of-type(1) {
    margin-top: 3px; }
  .ingredback input[type=checkbox] {
    display: none; }
  .ingredback .chk:before {
    content: "";
    width: 11px;
    height: 11px;
    vertical-align: middle;
    text-align: bottom;
    border-radius: 2px;
    border: 1px solid;
    margin-right: 8px;
    margin-top: -6px; }
  .ingredback input[type=checkbox]:checked + .chk:before {
    content: "\2713 ";
    font-size: 18px;
    line-height: 0.5em; }
  .ingredback input[type=checkbox]:checked + label {
    text-decoration: line-through; }
  form span{
    color: #000;
  }

/* AUTHOR NOTES
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.author-notes {
  border: 13px solid;
  border-width: 13px 0px 0px;
  -moz-border-image: url(imgs/break.png) 13 0 0 repeat;
  -webkit-border-image: url(imgs/break.png) 13 0 0 repeat;
  -o-border-image: url(imgs/break.png) 13 0 0 repeat;
  border-image: url(imgs/break.png) 13 0 0 fill repeat;
  width: 100%; }
  .author-notes .headshot {
    margin: 56px 24px 70px; }
  .author-notes h3 {
    margin: 40px 0 0 0; }
  .author-notes p {
    padding: 0 3px 0 30px;
    max-width: 85%; }
  .author-notes .share {
    font-family: sans-serif;
    padding: 13px 24px;
    transition: all .5s ease-in;
    width: 106px;
    font-weight: 200;
    text-decoration: none;
    margin: 40px auto 60px; }

/* FOOTER AREA MODULE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pageFooter {
  border-top: 1px solid; }
  .pageFooter .footlogo {
    background: url("imgs/mastersprite.png") -42px 45px;
    height: 32px;
    width: 30px;
    border: 4px solid #fff;
    margin: -20px auto 0; }
  .pageFooter p {
    line-height: .25em; }
  .pageFooter p:last-of-type {
    margin-bottom: 60px; }

