.soclist a:hover{
  opacity: 0.6;
}
.print:hover{
  color:#00A632;
}
.author-notes .share:hover{
  background-color: #8d5442;
}

/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 550px) {
  .pageHeader{
    padding: 0 5px;
  }
  .pageHeader .logoarea{
    margin: 0 auto 30px;}
  .pageHeader .logoarea .headlogo {
    margin-top: 14px;
  }
  .soclist {
    margin: 0px auto 30px;}
  .print{
    margin: 70px 6px 20px 0;
  }
  .mainarticle h2{
    margin-bottom: 20px;
  }
  .ingredback .listleft{
    float: left;
    margin: 36px 0 0 10%;
    width: 40%;
  }
  .ingredback .listright{
    margin: 38px 0 0 0;
    width: 100%;
  }
  .ingredback .listleft label, .ingredback .listright label{
    display: block;
    font-size: 24px;
    line-height: 30px
  }

  .ingredback .listright label:last-of-type {
    width: 100%;
  }
  .push{
    margin-left:20px;
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {
  .pageHeader{
    padding:0;
  }
  .pageHeader .logoarea{
    float: left;
  }
  .pageHeader .logoarea .headlogo{
    margin-top: 30px;
  }
  .soclist{
    margin: -70px 0px 30px;
    float: right;
  }
  .mainarticle h1, .mainarticle h2{
    margin-left: 0px;
  }
  .mainarticle .bodyp p {
    max-width: 100%;}
  .author-notes{
    padding-bottom: 20px;
  }
  .author-notes p{
    width: 70%;
  }
  .author-notes .share{
    float: right;
    margin-top: -65px;
  }

}
