/*  Based from --> Foundation 5 _settings.scss */
/* true white 250, 250, 250 */
/* true white with hint of grey 250, 250, 250 */
/* 243, 243, 243 */
/* 238, 238, 238 */
/* 221, 221, 221 */
/* 204, 204, 204 */
/* 170, 170, 170 */
/* 136, 136, 136 */
/* 85, 85, 85 */
/* 34, 34, 34 */
/* true black 0, 0, 0 */
.size-10 {
  font-size: 10px; }

.size-12 {
  font-size: 12px; }

.size-14 {
  font-size: 14px; }

.size-16 {
  font-size: 16px; }

/* 1em */
.size-18 {
  font-size: 18px; }

.size-20 {
  font-size: 20px; }

.size-24 {
  font-size: 24px; }

/* 1.5em */
.size-32 {
  font-size: 32px; }

/* 2em */
.size-36 {
  font-size: 36px; }

.size-40 {
  font-size: 40px; }

/* 2.5em */
.size-48 {
  font-size: 48px; }

/* 3em */
h1, h2 {
  color: #222222; }

.soclist {
  width: 260px;
  margin: 0 auto; }
  .soclist .soc_fb, .soclist .soc_tw, .soclist .soc_gg, .soclist .soc_in, .soclist .soc_fl, .soclist .soc_pi, .soclist .soc_rs, .soclist .soc_em {
    background-color: #222222;
    color: #FAFAFA;
    padding: 8px 7px 5px;
    text-decoration: none; }

.mainarticle h2 {
  color: #CCCCCC; }

.icon-printer, .print, .pageFooter, .pageFooter p {
  color: #DDDDDD; }

.bodyp p {
  color: #888888; }

.listleft label, .listright label, .author-notes h3, .author-notes p {
  color: #555555; }

.ingredback input[type=checkbox]:checked + .chk:before {
  color: #AAAAAA; }

.listleft label, .listright label {
  font-size: 22px; }

.share {
  color: #FAFAFA; }

.pageHeader {
  border: 13px solid #eeeeee;
  border-width: 0px 0px 13px;
  -moz-border-image: url(imgs/break.png) 0 0 13 repeat;
  -webkit-border-image: url(imgs/break.png) 0 0 13 repeat;
  -o-border-image: url(imgs/break.png) 0 0 13 repeat;
  border-image: url(imgs/break.png) 0 0 13 fill repeat;
  padding-bottom: 30px; }
  .pageHeader .logoarea {
    width: 260px;
    margin: -10px auto 22px;
    float: none; }
    .pageHeader .logoarea .headlogo {
      background: url("imgs/mastersprite.png") 0px 45px;
      height: 45px;
      width: 42px;
      margin: 16px 4px 0 0; }
    .pageHeader .logoarea h1 {
      margin: 16px -5px 3px 0; }
    .pageHeader .logoarea h2 {
      margin: -15px 0 0 58px; }

.mainarticle {
  margin: 10px auto; }
  .mainarticle h1 {
    margin: 20px 0 0 2px; }
  .mainarticle h2 {
    margin: -3px 0 0px 4px; }
  .mainarticle .bodyp p {
    text-indent: 30px;
    line-height: 1.75em;
    max-width: 100%;
    margin: 20px auto;
    text-align: justify; }
  .mainarticle .bodyp p:nth-of-type(1) {
    margin-top: 40px; }
  .mainarticle .bodyp p:nth-of-type(3) {
    margin-bottom: 40px; }

.ingredback {
  background: url("imgs/list-bg.png") no-repeat;
  height: 350px;
  max-width: 100%;
  border-top: 1px solid #EBEBDB;
  position: relative; }
  .ingredback .listleft label, .ingredback .listright label {
    line-height: 1.075em; }
  .ingredback .listright label:last-of-type {
    width: 75%; }
  .ingredback .ingredback:after {
    content: "";
    background: #EBEBDB;
    position: absolute;
    right: 0;
    top: 0;
    height: 83.25%;
    width: 1px; }
  .ingredback .listleft {
    margin: 13px 0 0 60px; }
  .ingredback .listright {
    margin: 0 0 0 60px; }
  .ingredback .chk {
    font-size: 16px;
    margin-right: 10px;
    line-height: 18px; }
  .ingredback .chk:nth-of-type(1) {
    margin-top: 3px; }
  .ingredback input[type=checkbox] {
    display: none; }
  .ingredback .chk:before {
    content: "";
    width: 11px;
    height: 11px;
    vertical-align: middle;
    background-color: none;
    color: #f3f3f3;
    text-align: bottom;
    border-radius: 2px;
    border: 1px solid #c3c3c3;
    margin-right: 8px;
    margin-top: -10px; }
  .ingredback input[type=checkbox]:checked + .chk:before {
    content: "\2713 ";
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    line-height: 0.5em; }
  .ingredback input[type=checkbox]:checked + label {
    text-decoration: line-through; }

.author-notes {
  width: 100%;
  margin: 0 0 0 -13px; }
  .author-notes .headshot {
    margin: 40px 24px 70px; }
  .author-notes h3 {
    margin: 40px 0 0 0; }
  .author-notes .share {
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
    padding: 13px 24px;
    transition: all .5s ease-in;
    text-indent: 0;
    width: 106px;
    font-weight: 200;
    text-decoration: none;
    margin: 40px auto 60px; }

.pageFooter {
  border-top: 1px solid; }
  .pageFooter .pageFooter p {
    line-height: .25em;
    text-align: center; }
  .pageFooter .pageFooter p:last-of-type {
    margin-bottom: 60px; }
  .pageFooter .footlogo {
    background: url("imgs/mastersprite.png") -42px 45px;
    height: 32px;
    width: 30px;
    border: 4px solid #fff;
    margin: -20px auto 0; }

/*# sourceMappingURL=styles.css.map */
